/* MOBILE */
@media only screen and (max-width: 400px) {

    .body {
        overflow: hidden;
    }

    .fourthSection .container h2,
    .secondSection h1,
    .thirdSection h1 {
        font-size: 2.5rem;
    }

    /* navbar */
    .navbar {
        position: fixed;
        background-color: rgb(0, 0, 0);
        width: 100%;
    }

    /* firstSection */
    .firstSection {
        width: 100vw;
    }

    .video {
        object-fit: cover;
        height: 55vh;
    }

    .newTitle {
        width: 100%;
        padding: 4rem;
        font-size: 2.5rem;
        line-height: 4rem;
    }

    /* secondSection */
    .secondSection {
        margin-top: -80px;
        height: 255vh;
    }

    .secondSection .col-md-4 {
        padding-top: 5vh;
    }

    .secondSection .container .img {

        width: 100%;
        object-fit: cover;
        margin: 10vh;
    }

    /* thirdSection */
    .thirdSection {
        width: 100vw;
        height: 210vh;
        position: relative;
    }

    .thirdSection .col-md-4 {
        display: flex;
        width: 100%;
    }

    /* fourthSection */
    .fourthSection {
        height: 150vh;
        background-color: #ccc;
    }

    .fourthSection {
        width: 100vw;
    }

    .fourthSection .container h6 {
        font-size: 1.2rem;
    }

    .fourthSection #contactUs {
        width: 80vw;
        height: 95vh;
    }

    .fourthSection .form-control {
        font-size: 1.5rem;
    }

    .fourthSection button {
        font-size: 2rem;
    }
}